@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  user-select: none;
}

.page {
  width: 100vw;
  height: 100vh;
  background-image: url("images/poker.png");
  background-repeat: no-repeat;
  background-position: bottom -5vw right -30vw;
  background-size: 120vw;
}

.subsection {
  width: 100%;
  height: auto;
}

.subsection-title {
  width: 100%;
  height: 12vw;
  line-height: 12vw;
  font-size: 10vw;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2vw;
}

.subsection-subtitle {
  width: 100%;
  height: 10vw;
  line-height: 10vw;
  font-size: 6vw;
  text-align: center;
  font-weight: bold;
}

.player-form {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}

.name-input-label {
  font-weight: lighter;
  font-size: 4vw;
  margin-bottom: 1vw;
}

.name-input {
  height: 10vw;
  line-height: 6vw;
  padding: 2vw 2vw;
  font-size: 4vw;
  border: none;
  border-bottom: 1px solid #000;
  background-color: rgba(240, 240, 240, 0.7);
  transition: 0.2s;
  backdrop-filter: blur(1vw);
}

.name-input:focus {
  outline: none;
  background-color: rgb(250, 250, 250, 0.7);
}

#submit-button {
  display: none;
}

#submit-button-label {
  line-height: 12vw;
  text-align: center;
  font-size: 4vw;
  display: block;
  width: 80vw;
  height: 12vw;
  border: 1px solid #000;
  outline: none;
  margin: 0 10vw;
  transition: 0.1s;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1vw);
}


.under-button {
  display: none;
}

.under-button-label {
  line-height: 12vw;
  text-align: center;
  font-size: 4vw;
  display: block;
  width: 30vw;
  height: 12vw;
  border: 1px solid #000;
  outline: none;
  transition: 0.1s;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1vw);
}


#under-button-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10vw;
}

.result-input-table {
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  border: 1px solid #000;
  border-collapse: collapse;
}

#result-table {
  border-collapse: collapse;
  backdrop-filter: blur(1vw);
}

#result-table>tbody>tr {
  height: 12vw;
  font-size: 3vw;
}

#result-table>tbody>tr>th {
  width: 50%;
  border-right: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
}

#result-table>tbody>tr>td {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);

}

#result-table>tbody>tr>td>label {
  display: block;
  width: 100%;
  height: 12vw;
  line-height: 12vw;
  text-align: center;
  font-size: 6vw;
}

.result-checkbox {
  display: none;
}

#current-ranking {
  margin: 0 10vw;
  list-style: none;
}

#current-ranking>li {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  height: 10vw;
  padding-top: 5vw;
  padding-bottom: 1vw;
  line-height: 4vw;
  position: relative;
}

#current-ranking>li>.place-label {
  width: 15%;
  text-align: center;
  font-size: 4vw;
}

#current-ranking>li>.ranking-name {
  width: 50%;
  padding-left: 5%;
  text-align: left;
  font-size: 5vw;
}

#current-ranking>li>.ranking-score {
  width: 45%;
  padding-right: 5%;
  text-align: right;
  font-size: 5vw;
}

.clicked {
  background-color: #000 !important;
  color: #fff !important;
}

#ranking-back-button-label {
  line-height: 16vw;
  text-align: center;
  font-size: 6vw;
  display: block;
  width: 80vw;
  height: 16vw;
  border: 1px solid #000;
  outline: none;
  margin: 0 10vw;
  transition: 0.1s;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1vw);
}

#ranking-table {
  margin: 0 10vw;
  list-style: none;
}

#ranking-table>li {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  height: 16vw;
  padding-top: 8vw;
  padding-bottom: 2vw;
  line-height: 6vw;
  position: relative;
}

#ranking-table>li>.place-label {
  width: 20%;
  text-align: center;
  font-size: 6vw;
}

#ranking-table>li>.ranking-name {
  width: 50%;
  padding-left: 5%;
  text-align: left;
  font-size: 5vw;
}

#ranking-table>li>.ranking-score {
  width: 25%;
  padding-right: 5%;
  text-align: right;
  font-size: 6vw;
}



@media screen and (orientation: landscape) {

  /* 横向きの場合のスタイル */
  #submit-button-label,
  #under-button-wrapper,
  #ranking-back-button-label {
    position: relative;
    margin-top: 10vw;
  }
}

@media screen and (orientation: portrait) {

  /* 縦向きの場合のスタイル */
  #submit-button-label,
  #under-button-wrapper,
  #ranking-back-button-label {
    position: absolute;
    bottom: 8vw;
  }
}