@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  /* リンク長押しのポップアップを無効化 */
  -webkit-user-select: none;
  /* テキスト長押しの選択ボックスを無効化 */
}

#page-list {
  width: 100%;
  height: 100%;
}

.page {
  width: 100vw;
  height: calc(100vh - 20vw);
  background-image: url("../images/poker.png");
  background-repeat: no-repeat;
  background-position: bottom -5vw right -30vw;
  background-size: 120vw;
  display: flex;
  flex-direction: column;

}


.section {
  margin-top: 15vw;
  width: 100vw;
  padding: 0 15vw;
  position: relative;
}

.section-title {
  position: absolute;
  height: 12vw;
  line-height: 12vw;
  font-size: 6vw;
  text-align: center;
  top: -12vw;
  width: 70%;
}

input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

/* Registration form */
#registration-input>.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

#name-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#name-input-wrapper>* {
  width: 100%;
}

.name-input-label {
  height: 8vw;
  font-size: 4vw;
}


.name-input {
  height: 10vw;
  line-height: 10vw;
  font-size: 5vw;
  padding-left: 2vw;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #fafafa;
  transition: 0.2s;
}

.name-input:focus {
  outline: none;
  border-bottom: 1px solid #555;
}

.player-counter-radio-label {
  position: absolute;
  left: -12vw;
  top: 0;
  bottom: 0;
  display: block;
  height: 8vw;
  width: 8vw;
  line-height: 8vw;
  color: #000;
  margin: auto 1vw;
  text-align: center;
  border: 1px solid #000;
  font-size: 4vw;
}

.player-counter-radio-label:has(.player-counter-radio:checked) {
  background-color: #000;
  color: #fff;
}

#game-list-wrapper {
  display: flex;
  flex-direction: column;
}

#game-list-wrapper>div {
  position: relative;
  border: 1px solid #000;
  height: 18vw;
  margin: 2vw 0;
  text-align: center;
  line-height: 18vw;
  font-size: 8vw;
}

.done {
  background-color: #aaa;
  color: #555;
}

.done::after {
  position: absolute;
  content: "Done";
  font-size: 10vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 24vw;
  line-height: 24vw;
  color: #fff;
  transform: rotate(-10deg);
}


/* Scoring Form */
#scoring-form {
  border: 1px solid #000;
}

.scoring-form-row {
  display: flex;
  flex-direction: row;
  height: 8vw;
  line-height: 8vw;
  font-size: 4vw;
  text-align: center;
}

.scoring-form-head {
  width: 60%;
  border-right: 1px solid #000;
  font-size: 4vw;
}

.scoring-form-checkbox-label {
  width: 40%;
}

.ranking-preview-row {
  display: flex;
  flex-direction: row;
  height: 10vw;
  line-height: 6vw;
  padding-top: 3vw;
  padding-bottom: 1vw;
  border-bottom: 1px solid #000;
  font-size: 4vw;
}

.ranking-preview-place {
  width: 20%;
  text-align: center;
  font-size: 4vw;
}

.ranking-preview-name {
  width: 55%;
  text-align: left;
}

.ranking-preview-score {
  width: 25%;
  text-align: right;
  font-size: 5vw;
  padding-right: 5vw;
}

/* Footer Button */

#footer-button {
  text-align: center;
  position: absolute;
  bottom: 4vw;
  height: 16vw;
  line-height: 16vw;
  margin: 0 15vw;
  width: 70vw;
  background-color: #fff;
  font-size: 4vw;
}

#footer-button>* {
  height: 100%;
}

#footer-button>.wide-button {
  width: 70vw;
  margin: 0 auto;
  border: 1px solid #000;
}

#footer-button>.center-button {
  width: 30vw;
  margin: 0 auto;
  border: 1px solid #000;
}

#footer-button>.right-button {
  width: 30vw;
  position: absolute;
  right: 0;
  border: 1px solid #000;
}

#footer-button>.left-button {
  width: 30vw;
  position: absolute;
  left: 0;
  border: 1px solid #000;
}

/* Ranking */

.ranking-row {
  display: flex;
  flex-direction: row;
  height: 14vw;
  line-height: 10vw;
  padding-top: 3vw;
  padding-bottom: 1vw;
  border-bottom: 1px solid #000;
}

.ranking-place {
  width: 20%;
  text-align: center;
  font-size: 5vw;
}

.ranking-name {
  width: 60%;
  text-align: left;
  padding-left: 5vw;
  font-size: 5vw;
}

.ranking-score {
  width: 20%;
  text-align: right;
  font-size: 5vw;
  padding-right: 5vw;
}